services:
  backend:
    build:
      context: .
      target: dev
    image: backend
    ports:
      - 3000:80
    volumes:
      - .env:/usr/backend/.env
      - ./src:/usr/backend/src
      - ./tests:/usr/backend/tests
    depends_on:
      - db
      - redis
      - clickhouse

  db:
    image: mysql:8.4
    command: --mysql-native-password=ON
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_ROOT_PASSWORD=${DB_PASS}
    restart: always
    ports:
      - 3306:3306
    volumes:
      - data:/var/lib/mysql

  redis:
    image: arm64v8/redis:8-alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    restart: unless-stopped
    ports:
      - 6379:6379

  clickhouse:
    image: clickhouse/clickhouse-server:24.12-alpine
    environment:
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_DB: ${CLICKHOUSE_DB}
    restart: always
    ports:
      - ${CLICKHOUSE_PORT}:8123
      - 9004:9004
    volumes:
      - clickhouse-data:/var/lib/clickhouse
      - ./clickhouse-config.xml:/etc/clickhouse-server/config.d/talo.xml

volumes:
  data:
  clickhouse-data:
