name: Node tests

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shard: [1, 2, 3, 4, 5, 6, 7, 8]
    env:
      SHARD_COUNT: 8

    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup

      - name: Setup environment
        run: |
          cp envs/.env.dev .env
          echo "DB_PORT=$((3306 + ${{ matrix.shard }}))" >> envs/.env.test
          echo "REDIS_PORT=$((6379 + ${{ matrix.shard }}))" >> envs/.env.test
          echo "CLICKHOUSE_PORT=$((8123 + ${{ matrix.shard }}))" >> envs/.env.test

      - name: Run tests
        run: npm test -- --reporter=blob --shard=${{ matrix.shard }}/${{ env.SHARD_COUNT }}

      - name: Upload test reports
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-reports-${{ matrix.shard }}
          path: .vitest-reports/*
          include-hidden-files: true
          retention-days: 1

  merge-reports:
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup

      - name: Download all test reports
        uses: actions/download-artifact@v4
        with:
          pattern: test-reports-*
          path: .vitest-reports
          merge-multiple: true

      - name: Merge reports
        run: npx vitest --merge-reports --coverage

      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup

      - name: Type check
        run: npx tsc --noEmit

      - name: Build
        run: npm run build

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint
        run: npx eslint
